<div class="sidenav">
    <div class="logo">
        <a href="/" class="simple-text logo-mini">
            <div class="logo-img">
                <img src="../../../assets/img/user.jpg" alt="">
            </div>
        </a>
        <a href="/" class="simple-text logo-normal">
            BBank
        </a>
    </div>
    <ul class="nav">
        <li class="active"><a routerLink="/"><i class = fas fa-chart-line></i>Dashboard</a></li>

        <li><a routerLink="/"> <i class="fas fa-random"></i>new Patient</a></li>
        <li><a routerLink="/"><i class="fas fa-money-check-alt"></i>manager</a></li>
    </ul>
</div>
